<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGDemos.DiffBetweenPriorityDependsMeth"/>
      <class name="TestNGDemos.SoftAssertion"/>
      <class name="TestNGDemos.Prioritisation"/>
      <class name="TestNGDemos.HardAssertion"/>
      <class name="TestNGDemos.DependsOnMethodDemo"/>
      <class name="TestNGDemos.Annotations"/>
      <class name="TestNGDemos.DropDown_Select"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
